@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import "tailwindcss";

@theme {
  --font-displayTitle: "Anton", sans-serif;

  --color-primary: #C1272D;
  --color-primaryDark: #981F23;
  --color-secondary: #FBBF24;
  --color-orange: #E77728;
  --color-lightGray: #E0E0E0;

}

body {
  font-family: Arial, Helvetica, sans-serif;
}
